body {
	background-image: url("../css/background.png");
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Roboto Condensed', sans-serif;
}

.box {
	text-align: center;
	border:2px solid black;
	margin: 25% ;
	background-color: #E80C7B;
	width: 300px;
	height: 300px;
	overflow: scroll;
}

button {
	background-color: #14C9F6;
	font-size: 12px;
}

.list{
	display: block;
	list-style-type: none;
	background-color: #E80C7B;
	border: 2px, solid, black;
}

